<div class="w-100">
    <app-header></app-header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-around">
        <div class="navbar-nav">
            <a class="nav-item nav-link mx-4" routerLink="/shop/plants/all">All Plants</a>
            <a class="nav-item nav-link mx-4" routerLink="/shop/plants/poisonous">Poisonous</a>
            <a class="nav-item nav-link mx-4" routerLink="/shop/plants/carniverous">Carniverous</a>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>
