@import '../../../colors.scss';
@import '../../../text-styles.scss';

@import '../../../colors.scss';

.plant-listing-table {
    margin: 0 5px 5px 5px;
    text-align: center;
    min-height: 400px;

    .btn {
        width: 90%;
        margin: auto;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    }

    .btn-title {
        background-color: $green-med-light;
        &:hover {
            background-color: $green-med-light;
        }
    }
}

.card-text {
    font-size: $text-medium;
}