<div id="selected-plant">
    <div class="card m-2" *ngIf="selectedPlant">
        <div class="card-body">
            <div class="row justify-content-between">
                <h4 class="card-text col-12">{{ selectedPlant.plantName }} - <i>{{ selectedPlant.speciesName }}</i></h4>
            </div>
            <div class="row justify-content-between">
                <div class="card-text col-12">{{ selectedPlant.description }}</div>
            </div>
            <div class="row justify-content-between">
                <div class="card-text col-12">{{ selectedPlant.price }}</div>
            </div>
        </div>
    </div>
</div>
