$green-light: #ccffcc;
$green-transparent: rgba(8, 247, 115, 0.6);
$green-med-light: #ccff66;
$green: #009000;
$green-med-dark: #006600;
$green-dark: #003300;

$red-light: #ffe6e6;
$red-med-light: #ff6666;
$red: #ff0000;
$red-med-dark: #900000;
$red-dark: #660000;

$grey-light: #f2f2f2;
$grey-med-light: #cccccc;
$grey: #999999;
$grey-med-dark: #666666;
$grey-dark: #333333;

$black: #000000;
$white: #ffffff;

$blue-light: #ccd9ff;
$blue-med-light: #668cff;
$blue: #0040ff;
$blue-med-dark: #002db3;
$blue-dark: #002080;

$yellow-light: #fff5cc;
$yellow-med-light: #ffe066; 
$yellow: #ffcc00;
$yellow-med-dark: #e6b800;
$yellow-dark: #b38f00;

$terra-cotta: #e67300;
$terra-cotta-dark: #b35900;