$text-title: 2em;
$text-large: 1.2em;
$text-medium: .9em;
$text-small: .6em;

$text-bold: bold;
$text-light: lighter;

$title-font: 'Creepster', cursive;
$font-family: "FS Elliot Web Regular","Arial",arial,sans-serif;
$font-family-bold: "FS Elliot Web Bold","FS Elliot Web Regular","Arial Bold","Arial",arial,sans-serif;